<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="An ES6 Javascript, custom web component thingy, for generating re-usable custom HTML components with ease.">
		<meta name="keywords" content="js, es6, data, binding, view, model, vm, html, element, library, framework">
		<title>raziloMVCS</title>
	</head>
	<body>
		<p>Boom!</p>
	</body>
</html>
